
*{
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}


.galleryPageContainer{
    margin: 5rem 3rem;
    border: 1px solid black; 
    height: 600px;
    display: flex;
    flex-wrap:nowrap;
    width:fit-content;
    overflow-x:scroll;
    

}
.galleryPageContainer::-webkit-scrollbar {
  display:none;
}


.galleryPageHeader, 
.galleryPageContent {
    width:100vw;
}

.galleryPageContent{
    display:flex;
    flex-wrap:nowrap;
    overflow-x:scroll;
    height: 600px;
    width:fit-content;
    
    border: 1px solid red;
}

.paintingWrapper{
    margin: 0 10rem;
    
}